BOT_TOKEN= https://discord.com/developers/applications/ < get it here | Bot, token
DATABASE_URL=postgres://postgres:postgres@localhost:5432/postgres | Get it in pgAdmin or on your hosting page
CLIENT_ID= https://discord.com/developers/applications/ < get it here | OAuth2
GUILD_ID= ID of your discord server | copy the message ling and grab the first one long number, it'll be id
REVIEW_COOLDOWN_MINUTES=20 ## in min | default 20